@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav {
     background-color: rgb(47, 11, 47);
     color: white;
     height: 65px;
     /* why flexbox is used  - one of the advantages of using Flexbox is that
      it is easier to manage items on the page. Whereas CSS Grid requires manually
      defining the size and positioning of each element, Flexbox simplifies this 
      process by automatically adjusting margins and 
      positioning of elements relative to each other  */
     display: flex; 
     align-items: center;
     padding: 0 12px;
     font-family: 'Roboto', sans-serif;
}
 nav ul{
    list-style-type: none;
 }
 
 .gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
 }
/* why we use grid here  can we use flexbox here*/
 .container{
     display: grid;
     /* why we are using 10 vw rewise the grid cocept */
     grid-template-rows: repeat(3,10vw);  
     grid-template-columns: repeat(3,10vw);  
     font-family: 'Roboto', sans-serif;
     position: relative;


 }
 .box{
   border: 2px solid black;
   font-size: 8vw;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;

}
 .box:hover{
    background-color: rgb(236, 229, 241);
}
.info{
   font-size: 22px;
}
.gameInfo{
   padding: 0 34px;
   font-family: 'Baloo Bhaina 2',cursive;
}

.gameInfo h1{
   font-size: 2.5rem;
}

.imgbox img{
 width:0;
 transition: width 1s ease-in-out;
}

.br-0{
   border-right: 0;
}
.bl-0{
   border-left: 0;
}
.bt-0{
   border-top: 0;
}
.bb-0{
   border-bottom: 0;
}
#reset{
   margin: 0 23px;
   padding: 6px 14px;
   background: #e5c7e5;
   border-radius: 6px;
   cursor: pointer;
   font-family: 'Baloo Bhaina 2';
   font-size: 15px;
   font-weight: bolder;
}

.line{
   background-color: black;
   height: 3px;
   width: 0vw;
   position: absolute;
   background-color: #911d91;
   transition: width 1sec ease-in-out;
}

@media screen  and (max-width:950px)
{
   .gameContainer{
      flex-wrap: wrap ;
   }
   .gameInfo{
      margin-top: 34px;
   }
   .container{
      display: grid;
      grid-template-rows: repeat(3, 20vw);
      grid-template-columns: repeat(3, 20vw);
   }
}

